<!DOCTYPE html>
<html>

<head>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    
    .foot {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       text-align: center;
       padding-bottom: 10px;

    }
    .center-screen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .title-img{
    width: 30px; /* You can set the dimensions to whatever you want */
    height: 30px;
    object-fit: contain;
    }
  </style>
	<title>ANONIMAS | Home</title>
	<link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/icon type">
</head>
<body>
	<header class='site-header pb-5'>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
        	<div></div>
        	<div>
        	<img class='title-img' src="{{ url_for('static', filename='mask.png') }}">
          <a class="navbar-brand mr-4" href="/">ANONIMAS</a></div>
        	<div></div>
        </div>
      </nav>
	</header>
	<div class="container p-4">
	<div class='border border-dark rounded-lg p-4'>
		<div class="border-bottom mb-4">
      {% with flash_messages = get_flashed_messages(with_categories=true) %}
        {% if flash_messages %}
          {% for category, flash_message in flash_messages %}
            <div class="alert alert-{{ category }}">
              {{ flash_message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
		New here?
		<a href="{{ url_for('Signup') }}" class="btn btn-dark btn-lg btn-block">Join today</a>
		<br>
		<p class="border-bottom mb-4"></p>
		Already have an account?
		<a href="{{ url_for('Login') }}" class="btn btn-dark btn-lg btn-block">Login</a>
		<br>
		<p class="border-bottom"></p>
	</div>

    <div class="text-center foot p-2 bg-dark text-white">
      Developer: <a href='https://www.facebook.com/shafin.hasnat' class='btn btn-outline-light btn-sm'>Shafin Hasnat</a>
    </div>


</body>
</html>